.main {
  margin: 0 auto;
  padding: 3vh;
  display: grid;
  grid-template-rows: 1fr .2fr 10fr;
  grid-template-columns: 1fr;
  background-color: rgba(30, 30, 255, .6)
}

#mode-toggle {
  position: fixed;
  font-size: 1em;
  height: 30px;
  width: 300px;
}
.button-large {
  height: 80px;
  width: 250px;
}

.header {
  font-size: 3em;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px auto;
  color: gold;
}

.score {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
}

.jeopardy-board {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.board-topic {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.board-answer {
  border: 3px solid blue;
  margin: 3px;
  background-color: rgba(120, 150, 240, 0.85);
  color: gold;
  text-align: center;
  font-size: 2em;
  height: 100%;
}

.board-answer:hover {
  cursor: pointer;
}

.board-answer-active {
  background-color: rgba(0, 50, 255, 0.7);
}

.board-answer-current {
  position: fixed;
  top: 15vh;
  left: 8vw;
  right: 8vw;
  bottom: 8vh;
  width: 84vw;
  height: 76vh; 
  background: blue;
  font-size: 2.5em;
  text-align: center;
}

.board-answer-complete {
  background-color: gray;
}
.board-answer-complete:hover {
  cursor: not-allowed;
}